<div class="container">
   <img *ngIf="post" src="{{ post.imageUrl }}" alt="">
   <br>
   <br>

   <div class="list-group">
      <a *ngFor="let comment of comments" class="list-group-item list-group-item-action">
         <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{ comment.username }}</h5>
            <small>3 days ago</small>
         </div>
         <p class="mb-1">{{ comment.comment }}</p>
         <small>{{ comment._id }}</small>
      </a>
   </div>
   <br>
</div>
